<div class="card-body">
  <div class="row">
    <div class="col-sm-8 col-md-8">
      <mat-form-field color="warn">
        <input
          [disabled]="isLoading"
          matInput
          placeholder="Ticker"
          [(ngModel)]="ticker"
          (keyup.enter)="onEnter()"
        />
      </mat-form-field>
    </div>

    <div class="col-sm-4 col-md-4">
      <button
        [disabled]="isLoading"
        class="btn btn-danger"
        (click)="getTickerData()"
      >
        Submit
      </button>
    </div>
  </div>

  <div *ngIf="isLoading" class="row mt-5 mb-5">
    <div class="col-md-5"></div>
    <div class="col-md-2">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <div class="col-md-5"></div>
  </div>

  <!-- data table -->
  <table *ngIf="tickerData" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Asset_Name">
      <th mat-header-cell *matHeaderCellDef>Asset Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Asset_Name }}</td>
    </ng-container>

    <ng-container matColumnDef="Neural_Network_1">
      <th mat-header-cell *matHeaderCellDef>Neural Network 1</th>
      <td mat-cell *matCellDef="let element">{{ element.Neural_Network_1 }}</td>
    </ng-container>

    <ng-container matColumnDef="Neural_Network_1_confidence">
      <th mat-header-cell *matHeaderCellDef>Neural Network 1 Confidance</th>
      <td mat-cell *matCellDef="let element">{{ element.Neural_Network_1_confidence }}</td>
    </ng-container>

    <ng-container matColumnDef="Neural_Network_2">
      <th mat-header-cell *matHeaderCellDef>Neural Network 2</th>
      <td mat-cell *matCellDef="let element">{{ element.Neural_Network_2 }}</td>
    </ng-container>

    <ng-container matColumnDef="Neural_Network_2_confidence">
      <th mat-header-cell *matHeaderCellDef>Neural Network 2 Confidance</th>
      <td mat-cell *matCellDef="let element">{{ element.Neural_Network_2_confidence }}</td>
    </ng-container>

    <ng-container matColumnDef="Strategy_Suggestion">
      <th mat-header-cell *matHeaderCellDef>Strategy Suggestion</th>
      <td mat-cell *matCellDef="let element">{{ element.Strategy_Suggestion }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
